page-proyect {
    .button-md{
        background: $theme-secundary-1;
    }
    .button-md.activated{
        background: $theme-secundary-2;
    }
    .card-btn-remove{
        background-color: red;
        height: 30px;
        
    }
    .card-btn-remove.activated{
        background-color: darkred;
        height: 30px;
        
    }
    .card-btn{
        background-color: $theme-secundary-1;
        height: 30px;
        color: $white;
    }
    .card-btn.activated{
        background-color: $theme-secundary-2;
    }
    .cancel-action{
        background: red;
    }
}
